@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Tilt+Prism&display=swap');

/* ------------- Header section starts ------------- */
*{
    margin: 0px;
    box-sizing: border-box;
}
.html{
    background-image: url(../images/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    height: 100vh;
    background-attachment: fixed;
}

.logo img{
    width: 40px;
}
.header{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(0,0,0,.5);
    backdrop-filter: blur(5px);
    margin: 0px;
    align-items: center;
}
.menu
{
    display: center;
}
.menu li{
    list-style: none;
}
.menu li ul{
    display: inline-block;
}
.menu li ul a{
    display: center;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.5s ease 0s;
}
.menu li ul a:hover{
    /* font-size: 20px; */
    transition: all 0.5s ease 0s;
    background-color: white;
    color:black;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

/* ------------- Header section ends ------------- */

/* ------------- Home Starts ------------- */

.fullscreen{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: auto;
    background-position: fixed;
}
.ho1{
    font-family: 'Rubik', sans-serif;
    font-size: 70px;
    margin: 20px;
    font-weight: 800;

}
.ho1 p{
    margin: 0;
}
.ho2{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    font-size: 38px;
    font-weight: 600;
}
.ho2 p{
    margin: 0;
}
.ho3{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    font-size: 32px;
    padding-top: 25px;
    font-weight: 400;
}
.ho3 p{
    margin: 0;
}
.home-sp{
    font-size: 34px;
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    
}

.swe{
    color: yellow;
    font-size: 46px;
}

.icons{
    position: absolute;
    bottom: 50px;
    padding: 15px;
    background-color: rgb(0,0,0,.5);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    width: 280px; 
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}
.icons:hover{
    box-shadow: 0 0 100px rgba(255, 255, 255, .4);
}
.icons a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    font-size: 34px;
    color: whitesmoke;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .8s;
}
.icons a:hover{
    color:black;
}
.icons a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: whitesmoke;
    z-index: -1;
    transition: .8s;
}
.icons a:hover::before{
    width: 100%; 
}

/* ------------- Home Ends ------------- */